
@{
    ViewBag.Title = "Index";
}

<div>
    <div>
        @using (Html.BeginForm("UploadFile", "UploadVehicles", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <input type="file" name="uploadFile" required style="margin-top:25px;" /> <br />
            <input type="submit" class="btn btn-success" value="Upload File" style="margin-top:25px;" />
        }
    </div>
</div>

